@use "../abstract/mixin";
@use "../abstract/variable" as var;


// fixer le BG-image qui n'est pas bon
.features {
    background-image: url(../img/about-bg.jpg);
    @include mixin.flex(column, start, center);
    @include mixin.bgImage;
    background-attachment: fixed;
    height: 50rem;

    h3 {
        font-size: 1.2rem
    }
}

.features_cards_container {
    @include mixin.flex;
    width: 100%;

    .features_card {
        @include mixin.flex(column, center, center);
        text-align:center;

        .card_top {
            @include mixin.flex(column, center, center);
            border-bottom: 1px solid grey;
            width: 90%;
            gap:2rem;
            padding-bottom: 2rem;
            z-index: 0;

            .img_abs {
                @include mixin.flex;
                width: 100px;
                height: 100px;
                background-color: var.$primaryColor;
                border-radius: 50%;
                position: relative;


                &::after {
                    content: "";
                    position: absolute;
                    width: 100px;
                    height: 100px;
                    padding: 5px;
                    top: 50%;
                    left: 50%;
                    transform: translate(-50%, -50%);
                    border-radius: inherit;
                    // variable dans keyframes.scss -> 
                    background-image: conic-gradient(from var(--angle),white, var.$secondaryColor, var.$secondaryColor, white);
                    z-index: -1;
                    animation: 2.5s spin linear infinite;
                }
            }        
        }

        .card_bottom {
            @include mixin.flex(column, center, center);
            padding-top: 2rem;
            gap: 3rem;
        }

        .btn {
            background-color: var.$secondaryColor;
            font-size: .9rem;
            
            span {
                color: white;
            }
        }

        p {
            width: 90%;
        }
    }
}