@use "../abstract/mixin";
@use "../abstract/variable" as var;

.gallery {
    height: 60rem;
}

.gallery_container {
    @include mixin.flex;
    width: 100%;
}

.gallery_menu {
    @include mixin.flex (column, center, center);
    background-color: var.$secondaryColor;
    height: 100%;

    .menu_container {
        @include mixin.flex (column, center, start);
        width: 65%;
        padding-left: 6rem;
        gap: 2rem;

        .gallery_menu_title {
            border-bottom: 1px solid rgb(255, 255, 255, 0.4);
            width: 100%;
            padding-bottom: 2rem;
        }
    }

    ul {
        @include mixin.flex(column, center, start);
        gap: 1rem;
        margin-top: 4rem;
        
        a {
            display: inline-block; 
            transition: .3s ease;
            
            &:hover {
                transform: scale(1.2);
                color: var.$primaryColor;
            }
        }
    }
}

.gallery_image {
    @include mixin.flex;
    padding: 2.2rem 2.2rem;
}

.gallery_grid_container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(3, 1fr);
    height: 100%;
    width: 100%;
    
    .img_abs:nth-child(1) {
        grid-column: 1;
        grid-row: 1;
    }
    .img_abs:nth-child(2) {
        grid-column: 2;
        grid-row: 1;
    }
    .img_abs:nth-child(3) {
        grid-column: 1;
        grid-row: 2;
    }
    .img_abs:nth-child(4) {
        grid-column: 2;
        grid-row: 2;
    }
    .img_abs:nth-child(5) {
        grid-column: 1;
        grid-row: 3;
    }
    .img_abs:nth-child(6) {
        grid-column: 2;
        grid-row: 3;
    }

    .img_abs {
        position: relative;
        overflow: hidden;


        img {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
        } 
    }
}

