@font-face {
  font-family: roboto;
  src: url(../font/Roboto/Roboto-Regular.ttf);
  font-weight: 400;
}
@font-face {
  font-family: roboto;
  src: url(../font/Roboto/Roboto-Medium.ttf);
  font-weight: 600;
}
@font-face {
  font-family: roboto;
  src: url(../font/Roboto/Roboto-Bold.ttf);
  font-weight: 800;
}
body {
  color: white;
  font-family: roboto, sans-serif;
  font-weight: 400;
}

a {
  display: inline-block;
  color: white;
  transition: 0.3s ease;
}

h2 {
  font-size: 2.5rem;
}

h3 {
  font-size: 1.5rem;
}

.btn {
  background: white;
  width: 160px;
  height: 50px;
  border-radius: 30px;
  color: black;
  position: relative;
  overflow: hidden;
  cursor: pointer;
  transition: 0.3s ease;
}
.btn span:first-child, .btn span:last-child {
  color: black;
  position: absolute;
  width: 160px;
  height: 50px;
  line-height: 50px;
  transition: top 0.3s ease;
}
.btn span:first-child {
  top: 0;
  left: 0;
  transition: 0.3s ease;
}
.btn span:last-child {
  top: 100px;
  left: 0;
  transition: 0.3s ease;
}
.btn:hover {
  background-color: #F6C45C;
  transform: scale(1.1);
}
.btn:hover span:first-child {
  top: -40px;
  color: #F6C45C;
}
.btn:hover span:last-child {
  top: 0;
}

.responsive {
  width: 1720px;
  height: 100%;
}

.section_menu {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 35%;
  height: 100%;
}

.section_right {
  width: 65%;
  height: 100%;
}

* {
  margin: 0;
  padding: 0;
  text-decoration: none;
  list-style: none;
  box-sizing: border-box;
}

.features {
  background-image: url(../img/about-bg.jpg);
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  height: 50rem;
}
.features h3 {
  font-size: 1.2rem;
}

.features_cards_container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 100%;
}
.features_cards_container .features_card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}
.features_cards_container .features_card .card_top {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-bottom: 1px solid grey;
  width: 90%;
  gap: 2rem;
  padding-bottom: 2rem;
  z-index: 0;
}
.features_cards_container .features_card .card_top .img_abs {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 100px;
  height: 100px;
  background-color: #F6C45C;
  border-radius: 50%;
  position: relative;
}
.features_cards_container .features_card .card_top .img_abs::after {
  content: "";
  position: absolute;
  width: 100px;
  height: 100px;
  padding: 5px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: inherit;
  background-image: conic-gradient(from var(--angle), white, #3CC2CD, #3CC2CD, white);
  z-index: -1;
  animation: 2.5s spin linear infinite;
}
.features_cards_container .features_card .card_bottom {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-top: 2rem;
  gap: 3rem;
}
.features_cards_container .features_card .btn {
  background-color: #3CC2CD;
  font-size: 0.9rem;
}
.features_cards_container .features_card .btn span {
  color: white;
}
.features_cards_container .features_card p {
  width: 90%;
}

.gallery {
  height: 60rem;
  display: flex;
  flex-direction: row;
  justify-content: start;
  align-items: center;
}

.gallery_container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.gallery_menu {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #3CC2CD;
  height: 100%;
}
.gallery_menu .menu_container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: start;
  width: 65%;
  padding-left: 6rem;
  gap: 2rem;
}
.gallery_menu .menu_container .gallery_menu_title {
  border-bottom: 1px solid rgba(255, 255, 255, 0.4);
  width: 100%;
  padding-bottom: 2rem;
}
.gallery_menu ul {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: start;
  gap: 1rem;
  margin-top: 4rem;
}
.gallery_menu ul a {
  display: inline-block;
  transition: 0.3s ease;
}
.gallery_menu ul a:hover {
  transform: scale(1.2);
  color: #F6C45C;
}

.gallery_image {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 2.2rem 2.2rem;
}

.gallery_grid_container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(3, 1fr);
  height: 100%;
  width: 100%;
}
.gallery_grid_container .img_abs {
  background-size: cover;
  background-position: center;
}
.gallery_grid_container .img_abs:nth-child(1) {
  grid-column: 1;
  grid-row: 1;
  background-image: url(../img/portfolio_item_01.jpg);
}
.gallery_grid_container .img_abs:nth-child(2) {
  grid-column: 2;
  grid-row: 1;
  background-image: url(../img/portfolio_big_item_02.jpg);
}
.gallery_grid_container .img_abs:nth-child(3) {
  grid-column: 1;
  grid-row: 2;
  background-image: url(../img/portfolio_big_item_03.jpg);
}
.gallery_grid_container .img_abs:nth-child(4) {
  grid-column: 2;
  grid-row: 2;
  background-image: url(../img/portfolio_big_item_04.jpg);
}
.gallery_grid_container .img_abs:nth-child(5) {
  grid-column: 1;
  grid-row: 3;
  background-image: url(../img/portfolio_big_item_05.jpg);
}
.gallery_grid_container .img_abs:nth-child(6) {
  grid-column: 2;
  grid-row: 3;
  background-image: url(../img/portfolio_big_item_06.jpg);
}

.testimony {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  background-color: #F6C45C;
  height: 40rem;
}

.testimony_container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 2rem;
  text-align: center;
}
.testimony_container .testimony_bgWhite {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  background-color: white;
  color: black;
  width: 55%;
  height: 25%;
  line-height: 2rem;
  font-size: 1.2rem;
  font-style: italic;
}
.testimony_container .testimony_bgWhite p {
  opacity: 0.6;
  width: 90%;
}
.testimony_container .testimony_name {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 0.9rem;
}
.testimony_container .testimony_name span {
  display: block;
  padding-bottom: 0.75rem;
}
.testimony_container .testimony_name span:first-child {
  font-size: 1.3rem;
}

.blog {
  background-image: url(../img/blog-bg.jpg);
  background-size: cover;
  background-position: center;
  height: 45rem;
}

.blog_container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.blog_menu {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
}
.blog_menu::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background-color: black;
  opacity: 0.6;
  z-index: 0;
}
.blog_menu .menu_container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: start;
  width: 65%;
  padding-left: 6rem;
  gap: 2rem;
  z-index: 1;
}
.blog_menu .menu_container .blog_menu_title {
  border-bottom: 1px solid rgba(255, 255, 255, 0.4);
  width: 100%;
  padding-bottom: 2rem;
}
.blog_menu .menu_container .blog_text_nav {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: start;
  width: 100%;
  gap: 2rem;
  font-size: 0.95rem;
}
.blog_menu .menu_container .blog_text_nav ul {
  width: 100%;
  padding-top: 3rem;
}
.blog_menu .menu_container .blog_text_nav ul li {
  padding-bottom: 1.5rem;
}
.blog_menu .menu_container .blog_text_nav ul li a {
  display: inline-block;
  width: 100%;
  height: 45px;
  background-color: white;
  color: black;
  font-weight: 600;
  text-align: center;
}
.blog_menu .menu_container .blog_text_nav ul li a span {
  line-height: 45px;
  transition: 0.3s ease;
}
.blog_menu .menu_container .blog_text_nav ul li:hover span {
  color: #F6C45C;
  text-decoration: underline;
}

.blog_card {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 1.2rem 1.2rem 4rem 1.2rem;
}

.blog_right_container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 95%;
  height: 90%;
  background-color: white;
  color: black;
}
.blog_right_container .blog_img_bg {
  height: 70%;
  width: 100%;
  background-image: url(../img/blog_item_01.jpg);
  background-size: cover;
  background-position: center;
}
.blog_right_container .blog_right_elements {
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: start;
  padding: 1.5rem;
  width: 100%;
  height: 35%;
  line-height: 1.7rem;
}
.blog_right_container .blog_right_elements h4 {
  color: #3CC2CD;
  font-weight: normal;
}
.blog_right_container .blog_right_elements p {
  width: 95%;
  padding-top: 1rem;
  opacity: 0.7;
}

.contact {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  background-color: #595F65;
  height: 30rem;
}
.contact .responsive {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.contact_container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 50%;
  text-align: center;
}
.contact_container .contact_title {
  width: 60%;
  border-bottom: 1px solid white;
  padding-bottom: 2rem;
}
.contact_container .contact_elements {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  gap: 2rem;
  padding-top: 2rem;
  line-height: 1.5rem;
}
.contact_container .contact_elements .btn {
  font-size: 0.9rem;
}

.map {
  width: 100%;
  height: 45rem;
}
.map iframe {
  width: 100%;
  height: 100%;
}

footer {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  background-color: #373B3C;
  height: 15rem;
}

.footer_container {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  width: 100%;
}
.footer_container .logo_wrapper span {
  color: #F6C45C;
}
.footer_container .logo_wrapper h2 {
  font-size: 1.5rem;
  padding-bottom: 0.75rem;
}
.footer_container .logo_wrapper h2 span {
  font-size: 2rem;
}
.footer_container .location {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 20%;
}
.footer_container .location .location_title {
  width: 90%;
  padding-bottom: 2.5rem;
}
.footer_container .location .location_title h3 {
  font-size: 1rem;
}
.footer_container .location .location_elements {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 90%;
}
.footer_container .location .location_elements .raffles {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  border-right: 1px solid rgba(255, 255, 255, 0.2);
  height: 60px;
}
.footer_container .location .location_elements .republic {
  padding-left: 1rem;
}
.footer_container .info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: start;
}
.footer_container .info .info_title {
  padding-bottom: 2.5rem;
}
.footer_container .info .info_title h3 {
  font-size: 1rem;
}
.footer_container .info .info_elements {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: start;
  gap: 0.5rem;
}
.footer_container .info .info_elements span {
  font-weight: bold;
}
.footer_container .socials {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: start;
}
.footer_container .socials .socials_title {
  padding-bottom: 2.5rem;
}
.footer_container .socials .socials_title h3 {
  font-size: 1rem;
}
.footer_container .socials ul {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 0.3rem;
}
.footer_container .socials ul li {
  background-color: white;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  line-height: 30px;
  text-align: center;
  position: relative;
  cursor: pointer;
}
.footer_container .socials ul li i {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 100%;
  transform: translate(-50%, -50%);
  color: #373B3C;
}
.footer_container .socials ul li:hover {
  color: #F6C45C;
  transform: scale(1.1);
}
.footer_container .socials ul li:hover:hover i {
  color: #F6C45C;
}

header {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  background-image: url(../img/banner_bg.jpg);
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  height: 55rem;
}
header a:hover {
  color: #F6C45C;
  transform: scale(1.1);
}
header a:hover:hover span {
  color: #3CC2CD;
}

nav {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding-left: 5%;
  padding-right: 5%;
}
nav span {
  color: #F6C45C;
  font-size: 3rem;
  transition: 0.3s ease;
}
nav ul {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 4rem;
}

.burger_focus .burger_icon {
  display: none;
}

.hero {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 35%;
  text-align: center;
  gap: 1.5rem;
}
.hero span:first-child {
  color: #3CC2CD;
}
.hero span:last-child {
  color: #F6C45C;
}
.hero p {
  width: 95%;
}
.hero .btn span:first-child, .hero .btn span:last-child {
  color: black;
  position: absolute;
  width: 160px;
  height: 50px;
  line-height: 50px;
  transition: top 0.3s ease;
}
.hero .btn span:first-child {
  top: 0;
  left: 0;
  transition: 0.3s ease;
}
.hero .btn span:last-child {
  top: 100px;
  left: 0;
  transition: 0.3s ease;
}
.hero .btn:hover {
  background-color: #F6C45C;
  transform: scale(1.1);
}
.hero .btn:hover span:first-child {
  top: -40px;
  color: #F6C45C;
}
.hero .btn:hover span:last-child {
  top: 0;
}

@media screen and (max-width: 1720px) {
  .responsive {
    max-width: 1520px;
  }
}
@media screen and (max-width: 1520px) {
  .responsive {
    max-width: 1320px;
  }
  .hero {
    width: 60%;
  }
}
@media screen and (max-width: 1320px) {
  .responsive {
    max-width: 1120px;
  }
  .blog_menu .menu_container {
    padding-left: 0rem;
  }
}
@media screen and (max-width: 1120px) {
  .responsive {
    max-width: 920px;
  }
  .gallery {
    height: 100rem;
  }
  .gallery .responsive {
    width: 100%;
  }
  .gallery_menu {
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
  }
  .gallery_menu .menu_container {
    padding-left: 0rem;
    padding-top: 10rem;
  }
  .gallery_menu .menu_container h3 {
    font-size: 2rem;
  }
  .gallery_menu .menu_container p {
    font-size: 1.2rem;
  }
  .gallery_menu ul {
    font-size: 2rem;
    margin-top: 10rem;
    gap: 8rem;
  }
  .gallery_grid_container {
    grid-template-columns: 1fr;
    grid-template-rows: repeat(6, 1fr);
  }
  .gallery_grid_container .img_abs:nth-child(1) {
    grid-row: 1;
  }
  .gallery_grid_container .img_abs:nth-child(2) {
    grid-row: 2;
    grid-column: 1;
  }
  .gallery_grid_container .img_abs:nth-child(3) {
    grid-row: 3;
    grid-column: 1;
  }
  .gallery_grid_container .img_abs:nth-child(4) {
    grid-row: 4;
    grid-column: 1;
  }
  .gallery_grid_container .img_abs:nth-child(5) {
    grid-row: 5;
    grid-column: 1;
  }
  .gallery_grid_container .img_abs:nth-child(6) {
    grid-row: 6;
    grid-column: 1;
  }
  .blog {
    height: 55rem;
  }
  footer {
    height: 30rem;
  }
  .footer_container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2rem;
  }
  .footer_container .logo_wrapper {
    text-align: center;
    margin-bottom: 1rem;
  }
  .footer_container .location {
    width: 100%;
  }
  .footer_container .location .raffles {
    padding-right: 1rem;
  }
  .footer_container .location .location_title {
    padding-bottom: 1rem;
    text-align: center;
  }
  .footer_container .info .info_elements {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
  }
  .footer_container .info .info_title {
    padding-bottom: 0rem;
  }
}
@media screen and (max-width: 920px) {
  .responsive {
    max-width: 820px;
  }
  nav {
    position: relative;
  }
  nav ul {
    display: none;
    position: absolute;
    width: inherit;
    top: 95%;
    left: 0;
    right: 0;
  }
  nav ul li {
    margin-left: 1rem;
  }
  .burger_focus:hover ul {
    display: revert;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
    cursor: pointer;
    background-color: #3CC2CD;
    padding: 1.2rem;
    margin: 0.3rem;
    border-radius: 20px;
    transition: 0.3s ease;
  }
  .burger_focus .burger_icon {
    display: revert;
    font-size: 2rem;
  }
  .burger_focus .burger_icon:hover {
    opacity: 0.4;
  }
  .features {
    height: 100rem;
  }
  .features_cards_container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 6rem;
  }
  .features_cards_container .features_card .card_top {
    gap: 1rem;
    padding-bottom: 1rem;
    width: 50%;
  }
  .features_cards_container .features_card .card_bottom {
    padding-top: 1rem;
    gap: 1.5rem;
  }
}
@media screen and (max-width: 820px) {
  .responsive {
    max-width: 720px;
  }
  .blog_menu {
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
  }
  .blog_menu .menu_container {
    padding-left: 0rem;
    padding-top: 10rem;
    width: 90%;
  }
  .blog_menu .menu_container h3 {
    font-size: 2rem;
  }
  .blog_menu .menu_container p {
    font-size: 1.2rem;
  }
  .blog_menu .menu_container ul {
    font-size: 0.75rem;
  }
  .blog_right_container {
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
  }
  .blog_right_container .blog_img_bg {
    height: 40%;
  }
  .blog_right_container .blog_right_element {
    height: 60%;
  }
}
@media screen and (max-width: 720px) {
  .responsive {
    max-width: 620px;
  }
  .testimony_container .testimony_bgWhite {
    height: 50%;
  }
}
@media screen and (max-width: 520px) {
  .responsive {
    max-width: 420px;
  }
  .features {
    height: 110rem;
  }
}
@property --angle {
  syntax: "<angle>";
  initial-value: 0deg;
  inherits: false;
}
@keyframes spin {
  from {
    --angle: 0deg ;
  }
  to {
    --angle: 360deg ;
  }
}

/*# sourceMappingURL=style.css.map */
